<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>头条</string>
		<key>urlString</key>
		<string>headline/T1348647909107</string>
		<key>replyUrl</key>
		<string>3g_bbs</string>
		<key>dicNum</key>
		<string>T1348647909107</string>
	</dict>
	<dict>
		<key>title</key>
		<string>体育</string>
		<key>urlString</key>
		<string>list/T1348649079062</string>
		<key>replyUrl</key>
		<string>sports_nba_bbs</string>
		<key>dicNum</key>
		<string>T1348649079062</string>
	</dict>
	<dict>
		<key>title</key>
		<string>手机</string>
		<key>urlString</key>
		<string>list/T1348649654285</string>
		<key>replyUrl</key>
		<string>mobile_bbs</string>
		<key>dicNum</key>
		<string>T1348649654285</string>
	</dict>
	<dict>
		<key>title</key>
		<string>娱乐</string>
		<key>urlString</key>
		<string>list/T1348648517839</string>
		<key>replyUrl</key>
		<string>auto_bbs</string>
		<key>dicNum</key>
		<string>T1348648517839</string>
	</dict>
	<dict>
		<key>title</key>
		<string>时尚</string>
		<key>urlString</key>
		<string>list/T1348650593803</string>
		<key>replyUrl</key>
		<string>lady_bbs</string>
		<key>dicNum</key>
		<string>T1348650593803</string>
	</dict>
	<dict>
		<key>title</key>
		<string>影视</string>
		<key>urlString</key>
		<string>list/T1348648650048</string>
		<key>replyUrl</key>
		<string>ent2_bbs</string>
		<key>dicNum</key>
		<string>T1348648650048</string>
	</dict>
	<dict>
		<key>title</key>
		<string>科技</string>
		<key>urlString</key>
		<string>list/T1348649580692</string>
		<key>replyUrl</key>
		<string>tech_bbs</string>
		<key>dicNum</key>
		<string>T1348649580692</string>
	</dict>
	<dict>
		<key>title</key>
		<string>漫画</string>
		<key>urlString</key>
		<string>list/T1444270454635</string>
		<key>replyUrl</key>
		<string>tech_bbs</string>
		<key>dicNum</key>
		<string>T1444270454635</string>
	</dict>
	<dict>
		<key>title</key>
		<string>财经</string>
		<key>urlString</key>
		<string>list/T1348648756099</string>
		<key>replyUrl</key>
		<string>tech_bbs</string>
		<key>dicNum</key>
		<string>T1348648756099</string>
	</dict>
	<dict>
		<key>title</key>
		<string>军事</string>
		<key>urlString</key>
		<string>list/T1348648141035</string>
		<key>replyUrl</key>
		<string>tech_bbs</string>
		<key>dicNum</key>
		<string>T1348648141035</string>
	</dict>
	<dict>
		<key>title</key>
		<string>历史</string>
		<key>urlString</key>
		<string>list/T1368497029546</string>
		<key>replyUrl</key>
		<string>tech_bbs</string>
		<key>dicNum</key>
		<string>T1368497029546</string>
	</dict>
	<dict>
		<key>title</key>
		<string>家具</string>
		<key>urlString</key>
		<string>list/T1348654105308</string>
		<key>replyUrl</key>
		<string>tech_bbs</string>
		<key>dicNum</key>
		<string>T1348654105308</string>
	</dict>
	<dict>
		<key>title</key>
		<string>原创</string>
		<key>urlString</key>
		<string>list/T1370583240249</string>
		<key>replyUrl</key>
		<string>tech_bbs</string>
		<key>dicNum</key>
		<string>T1370583240249</string>
	</dict>
	<dict>
		<key>title</key>
		<string>游戏</string>
		<key>urlString</key>
		<string>list/T1348654151579</string>
		<key>replyUrl</key>
		<string>tech_bbs</string>
		<key>dicNum</key>
		<string>T1348654151579</string>
	</dict>
	<dict>
		<key>title</key>
		<string>健康</string>
		<key>urlString</key>
		<string>list/T1414389941036</string>
		<key>replyUrl</key>
		<string>tech_bbs</string>
		<key>dicNum</key>
		<string>T1414389941036</string>
	</dict>
	<dict>
		<key>title</key>
		<string>彩票</string>
		<key>urlString</key>
		<string>list/T1356600029035</string>
		<key>replyUrl</key>
		<string>tech_bbs</string>
		<key>dicNum</key>
		<string>T1356600029035</string>
	</dict>
</array>
</plist>
